* {
  background-color: darkgray;
}
h1 {
  color: whitesmoke;
}
.background-image {
  height: 200px;
  width: 200px;
  /* z-index: -1; */
  /* opacity: 1; */
  box-shadow: 0 4px 8px rgba(24, 24, 24, 0.1); /* Add a subtle shadow */
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
